
/* основний колір тексту #434455 */
/* додатковий колір шрифту #2E2F42  */
/* акцентний колір #4D5AE5 */
/* білий #FFFFFF */
/* backgraund #E5E5E5 */

:root{
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primery-white-color: #FFFFFF;
}


.page{
    background-color: #E5E5E5;
    color: #434455;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

ul{
    list-style: none;
}
.logo-accent{
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
.logo{
    color: var(--title-text-color);
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.33;
}

/* site-nav */

.site-nav a {
    color: var(--title-text-color);
}
.site-nav .link:hover, .site-nav.focus {
    color: var(--accent-color);
}
.auth-nav a {
    color: var(--primery-text-color);
}   
.auth-nav .link:hover, .link:focus {
    color: var(--accent-color);
}

.site-nav
.link:hover, .link:focus {
    color: var(--accent-color);
}
.button{
    cursor: pointer;
}

.button:hover, button:focus{
    color: var(--accent-color);
}

.heading{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
}
.second-heading{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
}

.third-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;  
}
.logo-futer{
    color: var(--title-text-color);
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.17;
}
.logo-futer-accent{
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.17;
}


    