
/* основний колір тексту #434455 */
/* додатковий колір шрифту #2E2F42  */
/* акцентний колір #4D5AE5 */
/* білий #FFFFFF */
/* backgraund #E5E5E5 */

:root{
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primery-white-color: #FFFFFF;
}

body{
    background-color: var(--primery-white-color);
    color: var(--primery-text-color);
    font-family: Raleway, sans-serif;
    font-family: 'Roboto', 'Raleway', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-none {
    visibility: hidden;
    }

ul{
    list-style: none;
}
.logo-accent {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
.logo{
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.33;
}

.list, .link {
    text-decoration: none;
    }

/* site-nav */
.site-nav {
font-weight: 600;
}


.site-nav
.link:hover, .site-nav .link-focus {
    color: var(--primery-text-color);
    }

.auth-nav
.link:hover, .link:focus {
    color: var(--primery-text-color);
}

/* Button */

.button {
background: #F4F4FD;
width: 106px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.19;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--accent-color);
}

.button:hover, button:focus {
    cursor: pointer;
    color: var(--primery-white-color);
    background: var(--accent-color);
    
}

/* text body */


.heading {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
}
.second-heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
}

.third-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;  
}

/* futer */

.logo-futer {
    color: var(--title-text-color);
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.17;
}
.logo-futer-accent {
    color: var(--accent-color);
    font-weight: 800;
    font-size: 18px;    
    line-height: 1.17;
}
    